.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-top: 50px;
    padding-bottom: 20px;
}

.card-container {
    width: 340px;
    height: 340px;
    margin: 0px 50px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF6060 0%, rgba(134, 10, 10, 0.7) 100%);
}

.card-img {
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.card-title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
    align-items: flex-end;
    margin-top: -50px;

    color: #FFFFFF;
}