@import "../src/components/Header/header.css";
@import "../src/components/Navbar/navbar.css";
@import "../src/components/Banner/banner.css";
@import "../src/components/Card/card.css";
@import "../src/components/AboutBanner/aboutbanner.css";
@import "../src/components/Collapse/collapse.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 50px;

  background: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
