.container-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)), url(../../assets/Banner.png);
    border-radius: 25px;
    height: 223px;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-banner {
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;

    display: flex;
    justify-content: center;
    padding-top: 75px;
    color: #FFFFFF;
}



